body {
    margin: 0;
    padding: 0;
   
}
html {
    scroll-behavior: smooth;
}
/* header- part start */
.custom-bg {
    background-color: #ECEAEA;
}
.custom-menu{
    padding-right: 25px;
}
.custom-menu ul li{
    padding-right: 25px;
}
.custom-menu ul li a {
	font-size: 16px;
	font-weight: bold;
}
/* header- part end */
/* slider-part start */
.slider-bg {
    background-color: #E6B6C6;
    padding: 30px;
}
.slider-content h2 {
    text-transform: capitalize;
    font-weight: 900;
    color: #4d4747;
    font-size: 50px;
}
.slider-content p {
    font-size: 15px;
    font-weight: normal;
}
.slider-content h3 {
    color: #FF1B79;
    font-weight: 900;
    font-size: 34px;
    margin: 0;
}
.last-slider {
    padding-top: 25px;
}
.btn-custom {
    background-color: #FF1B79;
    color: #ffffff;
    padding: 6px 15px;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}
.btn-custom:hover {
    background: transparent;
    color: #FF1B79;
    border: 1px solid #FF1B79;
}
.slider-image img {
    width: 90%;
}
/* slider-part end */
/* first category design start */
#category-bg-watch {
    background-image: linear-gradient(#FFB22B, #FBAF22);
    border-radius: 10px;
    margin-top: 30px;
    width: 100%;
}
#category-bg-bag {
    background-image: linear-gradient(#E40E73, #D96BA5);
    border-radius: 10px;
    margin-top: 30px;
    width: 100%;
}
#category-bg-shoes {
    background-image: linear-gradient(#1038FC, #3574E4);
    border-radius: 10px;
    margin-top: 30px;
    width: 100%;
}
.category-title h3 {
    padding-top: 35px;
    font-weight: 900;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 40px;
}
.category-image img {
    width: 85%;
}
.first-category {
    padding: 10px 0px 10px 30px;
}
/* first category design end */
/* shoes category design start */
.shoes-category-title {
    padding-top: 40px;
}
.shoes-category-title h2,
.backpack-category-title h2 {
    text-transform: capitalize;
}
.shoes-category-detail h5,
.backpack-category-detail h5 {
    text-transform: capitalize;
    font-weight: 500;
}
.shoes-category-detail p,
.backpack-category-detail p {
    font-size: 14px;
    font-weight: 300;
}
.shoes-category-detail h4,
.backpack-category-detail h4 {
    font-weight: bold;
}
.backpack-category {
    padding: 40px 0px;
}
.card-custom-bg {
    background-color: #F4ECEC;
    box-shadow: -2px -4px 12px #dddddd;
}
/* shoes category design end */